header{
    height: 50px;
}
.outerFormContainer {
    padding: 1% 2%;
    background-color: rgba(187,73,63,0.8);
    border-radius: 3%;
    position: absolute;
    z-index: 2;
    width: 600px;
    left: calc(50% - 300px);
    top: 200px;
}
.center{
    text-align: center;
}
.imageContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
img#imgFormBackground{
    width:100%;
    height: 100%;
}
.mainDivContainer{
    width:100%;
    height: 610px;
    position: relative;
}
.textColorWhite{
    color: white;
}
.tableBookList{
    margin-bottom: 20px;
    margin: 20px auto;
}
.thead-bookList{
    background-color: #F11818;
    color: #ffffff;
}
.tbody-bookList{
    background-color: #FEFFBF;;
}
.imagetd{
    height: auto;
    width: 200px;
}
.formUpdate {
    margin-top: 35px;
    max-width: 50%;
    margin-left: 25%;
    padding: 1%;
    background-color: rgba(251, 242, 134, 0.45);
}
li, td{
    cursor: pointer;
}
.tableUserList {
    max-width: 80%;
    margin: 20px auto;
}
.thead-userList {
    background-color: #04BDC5;
    color: white;
}
tbody.tbody-userList {
    background-color: #EFFEFF;
}
form.userUpdate {
    width: 50%;
    margin: 40px auto;
    padding: 10px;
    background-color: #2B634C;
    color: white;
    border-radius: 10px;
}
.imageUpdate{
    height: auto;
    width: 200px;
}
.datepicker.dropdown-menu {
    top: 275px;
    left: 727px;
}
.displayPagination {
    margin: 25px calc(46% - 70px);
    color: #04BDC5;
}
li a.page-link.paginationUserButton{
    background: #EFFEFF;
    color: #04BDC5;
    border-radius: 50px;
    margin: 5px;
}
li a.page-link.paginationUserButton:hover{
    background: #04BDC5;
    color: #EFFEFF;
    border-radius: 50px;
    margin: 5px;
}
li a.page-link.paginationBookListButton{
    background: #FEFFBF;
    color: #F11818;
    border-radius: 50px;
    margin: 5px;
}
li a.page-link.paginationBookListButton:hover{
    background: #F11818;
    color: #FEFFBF;
    border-radius: 50px;
    margin: 5px;
}
.filter{
    margin-top: 40px;
}
.alertNoBookFound{
    margin-top: 40px;
}
.headerDropdownLink{
    display: inline-block;
    margin-top: 8px;
}